<header>
  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <input type="search" placeholder="Поиск..." [(ngModel)]="query">
      </div>

      <div class="col-6 col-sm-3">
        <ng-select 
          [items]="countries"
          [clearable]="false"
          bindLabel="name"
          bindValue="iso"
          [(ngModel)]="country"
          (change)="getNews()"
        ></ng-select>
      </div>

      <div class="col-6 col-sm-3">
        <ng-select 
          placeholder="Выберите Категорию"
          [items]="categories"
          [(ngModel)]="category"
          (change)="getNews()"
        ></ng-select>
      </div>
    </div>
  </div>
</header>
<div class="container">

  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let article of news | query:query">
      <div class="card">
          <img class="card-img" src="{{article.urlToImage}}" *ngIf="article.urlToImage">
          <h2>{{article.title}}</h2>
          <p>{{article.description}}</p>
          <div class="card-bottom">
            <p class="card-author">{{article.author}}</p>
            <p class="card-date">{{article.publishedAt | date:'HH:MM, d.m.y'}}</p>
          </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-auto">
      <pagination [totalItems]="totalNews" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>